.body{
    background-color: #333a4a;
    color:white;
    width: max-content;
    max-width: 80%;
    padding:1rem;
    border-radius: 1rem;
    margin: auto;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.521);
}
button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-image: url("/public/icon-dice.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #7cffa4;
    padding:1.3rem;
    border:none;
    transition:250ms;
    cursor: pointer;
    margin: 0.5rem;
}
button:hover{
    transition:250ms;
    box-shadow:  0 0 2rem 0px #7cffa4;
}
.adviceId{
    color: #7cffa4;
    font-size: 0.8rem;
}
#root{
    color: white;
    background-color: #222633;
    height: 95vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body{
    color: white;
    background-color: #222633;
    min-width:360px;
}
@media(max-width:800px){
    html{
        font-size: 11pt;
    }
    .attribution { font-size: 9px; text-align: center; }
}